<launch>

	<include file="$(find scanner)/launch/camera.launch"/>
	<include file="$(find scanner)/launch/distance_sensors.launch"/>
	<include file="$(find scanner)/launch/marker.launch"/>


	<node name="stepper_bridge" pkg="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyUSB0"></node>
</launch>

